<html lang="en">
<head>
    <title>ARCTIC</title>
    <style type="text/css">
      body{
        font-family: sans-serif;
        text-align: center;
      }
      img {
        margin: 20px;
      }
      table {
        text-align: left;
      }

      @Page {
        size: 210mm 297mm;
        margin: 30mm;
      }
    </style>
</head>
<body>
<h1>ARCTIC</h1>
<img src="/tmp/{{var.imgname}}.png" width="300" height="300">
<table style="margin: 0 auto;">
    <tr>
        <td>ID number:</td>
        <td>{{var.id}}</td>
    </tr>
    <tr>
        <td>Vaccine:</td>
        <td>{{var.vacc}}</td>
    </tr>
    <tr>
        <td>Vacc. Date:</td>
        <td>{{var.date}}</td>
    </tr>
    <tr>
        <td>Issue Date:</td>
        <td>{{var.issuedate}}</td>
    </tr>
    <tr>
        <td>Doses:</td>
        <td>{{var.doses}}</td>
    </tr>
    <tr>
        <td>Lot-Number:</td>
        <td>{{var.lot}}</td>
    </tr>
</table>
</body>
</html>